<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Surya Kumar Yadav</title>
</head>
<body style="background-color: deepskyblue;">
    <center>
        <h1 style="background-color: darkslateblue; color:aliceblue">SURYA KUMAR YADAV</h1>
        <h2 style="background-color: aqua;">He is called Mr.360</h2>
        <p style="background-color: whitesmoke;">Suryakumar Yadav (born 14 September 1990) is an Indian international cricketer. He plays as a right-handed middle-order batter and is an occasional right-arm off break bowler. He represents the Indian cricket team and plays for Mumbai in domestic first-class cricket. Suryakumar was a member of the Indian team that finshed runners-up in the 2023 ICC Cricket World Cup. He plays for Mumbai Indians in the Indian Premier League (IPL).
        In 2009, Suryakumar started playing club cricket in Mumbai before he was selected for the Mumbai cricket team. He made his List A debut for Mumbai in February 2010 before making his first class and T20 debut in the same year. In March 2021, he made his T20I debut for India and later made his ODI debut in July. Suryakumar has played mainly limited overs cricket for India and played his lone test match in February 2023. As of December 2023, he has scored 2141 runs in 60 matches at an average of over 45 in T20Is and is the top ranked batter in the ICC men's player rankings. He is also one of the only three batters to score four centuries in T20Is. Suryakumar has captained Mumbai in domestic cricket and also served as the Indian captain for seven T20Is in 2023.</p>
    </center>
</body>
</html>